;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

;; File Inclusion
include-file = $HOME/.config/leftwm/themes/personalspace/polybar.colors
include-file = $HOME/.config/leftwm/themes/personalspace/polybar.modules

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 24
fixed-center = true
bottom = false

background = ${color.bg}
foreground = ${color.fg}

radius-top = 8.0
radius-bottom = 8.0

padding = 2
module-margin-left = 0
module-margin-right = 2

font-0 = "SauceCodePro Nerd Font:size=12:weight=semibold;3"
modules-center = date
modules-right = nixos-updates network pulseaudio amd-backlight battery sysmenu

enable-ipc = true
cursor-click = pointer
cursor-scroll = ns-resize

tray-position = right
tray-detached = true
tray-maxsize = 14
tray-offset-x = -500
tray-offset-y = 0
tray-padding = 15
tray-scale = 1.0

[settings]
; Reload upon receiving XCB_RANDR_SCREEN_CHANGE_NOTIFY events
screenchange-reload = true

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = true

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0
